
//--------------colors-------


$header-bg-color : #474747;
$main-page : #797f87;
$link-color : #67ccc2;
$grey-font-color : #3b4954;




//--------------measurements-------


$p-placing : 0 10px;
$p-width : 600px;