<section id="main-page">

    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-10 small-centered columns">
                    <div class="hero-title">
                        <ul>
                            <li>Creating a unique look</li>
                            <li>Never been easier</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-10 small-centered columns">
                    <div class="hero-buttons">
                        <ul>
                            <li>See features</li>
                            <li>Purchase now</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="steal-page">
    <div class="row">
        <div class="small-12 columns">
            <ul>
                <li><h1>Steal of the month</h1></li>
                <li>
                    <div></div>
                </li>
                <li>Lorem ipsum dolor sit amet elit.A accusamus, aliquid enim excepturi magnam minima numquam tempora
                    ullam elit. elit. elit.?
                </li>
                <li><a href="#">Purchase now</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="portfolio-page">
    <div class="row">
        <div class="small-12 columns">
            <ul class="portfolio-title">
                <li><h1>Latest work</h1></li>
                <li>
                    <div></div>
                </li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, excepturi fugiat inventore nulla
                    officiis optio velit voluptates voluptatibus! Assumenda, delectus.</p></li>
            </ul>
            <ul class="portfolio-images">
                <li>
                    <div></div>
                </li>
                <li>
                    <div></div>
                </li>
                <li>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="wordpress-page">
    <div class="row">
        <div class="small-12 columns">
            <ul>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ipsam.</p></li>
                <li><a href="#">Purchase now</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="features-page">
    <div class="row">
        <div class="small-12 columns">
            <ul class="features-title">
                <li><h1>Superb Features</h1></li>
                <li>
                    <div></div>
                </li>
            </ul>
            <ul class="features-info">
                <li><h2>Brilliant creative design</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsa maxime molestias nulla
                        unde.</p></li>
                <li><h2>On mouse over title</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsa maxime molestias nulla
                        unde.</p></li>
                <li><h2>Incredible documentation</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsa maxime molestias nulla
                        unde.</p></li>
                <li><h2>Responsive & retina ready</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsa maxime molestias nulla
                        unde.</p></li>
            </ul>
        </div>
    </div>
</section>
<section id="quotation-page">
    <div class="row">
        <div class="small-12 columns">
            <ul>
                <li><h1>"</h1></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus error facere, optio
                    perferendis rerum sed.</p></li>
                <li>-MOBY-DICK,HERMAN MELVELLE</li>
            </ul>
        </div>
    </div>
</section>

<section id="blog-page">
    <div class="row">
        <div class="small-12 columns">
            <ul class="blog-title">
                <li><h1>Latest Blog posts</h1></li>
                <li>
                    <div></div>
                </li>
            </ul>
            <ul class="blog-images">
                <li>
                    <div></div>
                    <h2>Runaway to red carpet: Award Season</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae quas.</p></li>
                <li>
                    <div></div>
                    <h2>Runaway to red carpet: Award Season</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae quas.</p></li>
                <li>
                    <div></div>
                    <h2>Runaway to red carpet: Award Season</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae quas.</p></li>
            </ul>
        </div>
    </div>
</section>
<section id="experience-page">
    <div class="row">
        <div class="small-12 columns">
            <ul class="experience-title">
                <li><h1>Company experience</h1></li>
                <li>
                    <div></div>
                </li>
            </ul>
            <ul class="experience-items">
                <li>
                    <div class="outer">
                        <div class="inner">
                            <div class="item1">.</div>
                        </div>
                    </div>
                    <h2>500</h2>

                    <p>years of development</p></li>
                <li>
                    <div class="outer">
                        <div class="inner">
                            <div class="item2">.</div>
                        </div>
                    </div>
                    <h2>25 000</h2>

                    <p>results of the last winter year</p></li>
                <li>
                    <div class="outer">
                        <div class="inner">
                            <div class="item3">.</div>
                        </div>
                    </div>
                    <h2>100 000</h2>

                    <p>euros of the military budget</p></li>
            </ul>
        </div>
    </div>
</section>

<section id="java-page">
    <div class="row">
        <div class="small-12 columns">
            <div class="gallery-container">
                <h1>Flickr Photo Feeder</h1>

                <p>Choose which kind of animal you'd like to return photos of...</p>
                <ul class="gallery-menu">
                    <li>
                        <button class="special">Dog</button>
                    </li>
                    <li>
                        <button class="special">Cat</button>
                    </li>
                    <li>
                        <button class="special">Moose</button>
                    </li>
                </ul>


                <div id="photos">

                </div>


                <!--<ul class="new-style">-->
                    <!--<li><a href=""><img src="http://repatarmenia.org/eng/wp-content/uploads/2015/12/armenian-code-academy.jpg" alt=""></a></li>-->
                    <!--<li><a href=""><img src="http://www.academypgh.com/wp-content/uploads/2015/11/Academy-Pittsburgh-Learn-to-Code.jpg" alt=""></a></li>-->
                    <!--<li><a href=""><img src="https://farm3.staticflickr.com/2935/14249208291_abc3fab6b0_m.jpg" alt=""></a></li>-->
                <!--</ul>-->



                <!--<div id="form-search">-->
                <!--<form action="">-->
                <!--<input id="search" type="text" placeholder="Search">-->
                <!--<input id="submit" type="submit" value="Search">-->
                <!--</form>-->
                <!--</div>-->
            </div>

        </div>
    </div>
    </div>
</section>
<section id="footer-page">
    <div class="row">
        <div class="small-12 columns">
            <ul class="main-container">
                <li>
                    <ul class="get-in-touch">
                        <h1>Get In Touch</h1>
                        <li>Address:331 Bridge Street, Arizona, The United States</li>
                        <li>Phone: +117117117</li>
                        <li>Email:amber@info.com</li>
                    </ul>
                </li>
                <li>
                    <ul class="latest-tweets">
                        <h1>Latest Tweets</h1>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, possimus.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, possimus.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, possimus.</li>
                    </ul>
                </li>
                <li>
                    <ul class="media-links">
                        <h1>Follow Us</h1>
                        <li>facebook</li>
                        <li>twitter</li>
                        <li>youtube</li>
                        <li>instagram</li>
                        <li>pinterest</li>
                    </ul>
                </li>
                <li>
                    <ul class="popular-posts">
                        <h1>Popular Posts</h1>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet cupiditate magni
                            voluptatem!
                        </li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloremque maiores
                            obcaecati sed.
                        </li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorum expedita nostrum
                            voluptatum?
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>


<script src="js/main.min.js"></script>
</body>

