<header id="header">
    <div id="header-menu-bar">
    <div class="row">
        <div class="large-12 small-12 columns header-menu-bar">
            <div class="large-3 small-5 columns">
                <div id="look-for">
                    <input type="text" id='look-for-inside' placeholder="Search">
                </div>
            </div>
            <div class="large-2 small-7 columns">
                <div id="register">
                    <ul>
                        <li>login</li>
                        <li>register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id='menu' class="row">
        <div class="large-12 small-12 columns">
             <div class="row">
                 <div class="large-2 small-12 columns">
                     <h1 id="logo">
                         <a href="#"></a>
                     </h1>
                 </div>
             </div>
             <div class="row">
                <div class="large-10 small-12 columns">
                    <nav id="nav">
                        <ul id="nav-hide">
                            <li><a href="#">home</a></li>
                            <li><a href="#">typography</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">pages</a></li>
                            <li><a href="#">megablog</a></li>
                            <li><a href="#">elements</a></li>
                            <li><a href="#">ecommerse</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>